</main>

<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footer-top-one">
                <div class="row">
                    <img src="{{'./assets/images/icons/footer-logo.png' | relative_url }}" alt=""/>
                    
                    <div class="footer-top-para">
                        <p>Your Brain is in Control. Self-identity </br>
                            Assurance Powered by a Cloudless  </br>AI approach..</p>
                    </div>

                    <div class="social-media-wrapper">
                        <ul>
                            <li><a href="https://www.facebook.com/aerendirmobile/" target="_blank"><img src="{{'./assets/images/icons/fb.png' | relative_url }}" alt=""/></a></li>
                            <li><a href="https://twitter.com/AerendirMobile/" target="_blank"> <img src="{{'./assets/images/icons/twitter.png' | relative_url }}" alt=""/></a></li>
                            <li><a href="https://www.linkedin.com/company/aerendir-mobile-inc-" target="_blank"> <img src="{{'./assets/images/icons/linkdin.png' | relative_url }}" alt=""/></a></li>
                        </ul>
                    </div>

                    <p>© 2018 Aerendir. All Rights Reserved</p>

                    <!--<div class="social-media-wrapper">-->
                    <!--<ul>-->
                    <!--<li><a href="">Privacy</a></li>-->
                    <!--<li><a href="">Terms</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 learn-more-footer-wrapper">
                <div class="form-wrapper-footer">
                    <h3>Learn More</h3>

                    <p>Contact us for any inquiry, a business development</br> representative will speak with you shortly.</p>

                    <form action="" name="form-mail-plan" id="mail-plan" method="post" class="form-mail-plan">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="fname" id="fname"
                                           placeholder="Full Name">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group right-form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lname" id="lname"
                                           placeholder="Company">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="button-wrapper">
                                    <a href="" id="submit-from" class="banner-learn-more banner-learn-more-footer"
                                       value="submit" data-toggle="modal">submit</a>

                                </div>
                            </div>


                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="mail-client-popup" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Please Select the Mail Client Option</h4>
                        <input type="radio" class="mail-client" name="mail" value="gmail" id="submit-from-gmail"> Gmail<br>
                        <input type="radio" class="mail-client" name="mail" value="outlook"> Yahoo<br>
                        <input type="radio" class="mail-client" name="mail" value="yahoo"> Outlook
                    </div>
                </div>

            </div>
        </div>

    </div>
</footer>
<script type='text/javascript' src="{{'./assets/js/min/bootstrap.js' | relative_url }}"></script>
<script type='text/javascript' src="{{'./assets/js/min/jquery.js' | relative_url }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript' src="{{'./assets/js/min/slick.min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{'./assets/js/custom.js' | relative_url }}"></script>