

<main id="content" role="main" class="solution-page">
<section class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2>AI at the Edge. An Invulnerable Privacy Solution.</h2>

                <h3>Aerendir Mobile Inc. is the pioneer developer of a novel physiologic, biometric </br> authentication
                    technology. </h3>

                <div class="button-wrapper">
                    <a class="banner-learn-more scroll" data-id="section-1" id="section_1">
                        LEARN MORE
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="solution-unique-technology">
    <h3>Our Unique Technology</h3>

    <div class="center-wrapper">
        <div class="property-outer-wrapper">
            <div class="one-content-wrapper">
                <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
                </div>
                <div class="icon-unique-tech-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
                </div>
                <div class="content-wrapper-unique-tech">
                    <h4>AI</h4>

                    <p>Aerendir developed an Artificial</br> Intelligence (AI) technology that gives learning</br>
                        capabilities to the Edge of the Edge. </br>It can provide High-End generic AI</br> to Low-End
                        chips.</p>
                </div>
            </div>

            <div class="one-content-wrapper">
                <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
                </div>
                <div class="icon-unique-tech-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
                </div>
                <div class="content-wrapper-unique-tech">
                    <h4>Anti bot</h4>

                    <p>Our technology can feel  </br>if a human touches</br> a device with 80-90% accuracy.</p>
                </div>
            </div>

            <div class="one-content-wrapper">
                <div class="content-wrapper-unique-tech">
                    <h4>Cloudless</h4>

                    <p>No data will be stored, exchanged</br> or even computed on the Internet</br> protecting users
                        against hacking</br> and data breaches.</p>
                </div>
                <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
                </div>
                <div class="icon-unique-tech-left-hover"
                     style="background-image: url(./assets/images/icons/hover-tech.png)">
                </div>
            </div>

            <div class="one-content-wrapper">
                <div class="content-wrapper-unique-tech">
                    <h4>Biometrics</h4>

                    <p>The NeuroPrint extracts a unique </br>proprioceptive signal from</br> micro-vibrational patterns
                        from user’s</br> hands to identify and authenticate.

                    </p>
                </div>
                <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
                </div>
                <div class="icon-unique-tech-left-hover"
                     style="background-image: url(./assets/images/icons/hover-tech.png)">
                </div>
            </div>

            <!--<div class="one-content-wrapper">-->
            <!--<div  class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">-->
            <!--</div>-->
            <!--<div  class="icon-unique-tech-left-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">-->
            <!--</div>-->
            <!--<div class="content-wrapper-unique-tech">-->
            <!--<h4>Anti bot</h4>-->
            <!--<p>Interdum et malesuada fames ac ante</br> ipsum primis in faucibus. Donec eget</br> consequat justo. Donec vehicula.</p>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="one-content-wrapper">-->
            <!--<div  class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">-->
            <!--</div>-->
            <!--<div  class="icon-unique-tech-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">-->
            <!--</div>-->
            <!--<div class="content-wrapper-unique-tech">-->
            <!--<h4>Anti bot</h4>-->
            <!--<p>Interdum et malesuada fames ac ante</br> ipsum primis in faucibus. Donec eget</br> consequat justo. Donec vehicula.</p>-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</section>
<section class="totally-unique-section" id="section-1">
    <div class="container">
        <div class="row">
            <div class="unique-box-wrapper left">
                <div class="img-wrapper col-md-6 col-xs-12 pull-right">
                    <div class="img-unique" style="background-image: url(./assets/images/unique-4.jpg)">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 content-wrapper">
                    <h3>Totally Unique </h3>

                    <p>Aerendir offers technologies ready for embedding as tailor-made B2B solutions for authentication,
                        identification, encryption, and anti-bots... Aerendir’s technology and product applications are
                        not just unique; our NeuroPrint is one of the most disruptive technologies in today’s market.
                        It does not require any additional and costly hardware. It can be applied whenever and wherever
                        one needs to be either recognized or authenticated, wherever and whenever encryption or keys
                        need generation, or whenever and wherever one needs learning capability.
                        Aerendir’s codes can be embedded at ANY levels from software libraries to OS, Firmware, and
                        ASICs.
                    </p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="unique-box-wrapper right">
                <div class="img-wrapper col-md-6 col-xs-12">
                    <div class="img-unique" style="background-image: url(./assets/images/unique-6.jpg)">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 content-wrapper pull-right">
                    <h3> Unhackable</h3>

                    <p>
                        We are user-centric, totally cloudless and do not need databases. This means that systemic
                        loss/breach is not possible.
                        It allows for a strong self-encryption, as we could say that our brain generates a stable and
                        unique password that is close to one million characters long. Giving an infinite number of
                        possible combinations. Needless to say, such complexity will never be cracked by brute force
                        with ANY of the existing technologies.
                        The NeuroPrint technology combining both authentication and super strong encryption is
                        applicable across most industries and verticals.

                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="unique-box-wrapper left">
                <div class="img-wrapper col-md-6 col-xs-12 pull-right">
                    <div class="img-unique" style="background-image: url(./assets/images/unique-5.jpg)">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 content-wrapper">
                    <h3>Unspoofable</h3>

                    <p>Aerendir’s solutions require a live person touching a device. No file can be played back. No
                        file can even be generated, which imitates a person.
                        The NeuroPrint cannot be stolen from a user’s hand because it represents the association of a
                        given hand with a given device. Aerendir’s technology can safely and effectively recognize if
                        the signal is generated by a human or an AI-bot/bot. Capturing live signals from the
                        individual’s unique NP means that there will be a new standard for data privacy and Identity
                        Assurance across the internet.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="noval-solutions">
    <div class="background-wrapper-soln">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="top-content-wrapper">
                        <h3>Our Novel Solution Protects Against Data Breaches, Financial</br> Loss, and Reputational
                            Damage</h3>

                    </div>
                </div>
            </div>
            <div class="row align-items">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-06.svg)">
                        </div>
                        <h4>Smartphone &</br>
                            Portable Devices</h4>

                        <p>Can be used as SINGLE factor authentication or paired with an existing authentication
                            method. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-03.svg)">
                        </div>
                        <h4>Banking & </br>Payment Companies</h4>

                        <p>Finance is one of the most vulnerable markets, our solution accommodates all types of digital
                            banking/financing operations.</p>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-05.svg)">
                        </div>
                        <h4>E-Comm &</br> M-Comm</h4>

                        <p>Our products are used for logins, authentication and the clearing of any e-commerce or
                            m-commerce transaction.</p>
                    </div>

                </div>
            </div>
            <div class="row align-items">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-02.svg)">
                        </div>
                        <h4>IoT, Access Control</br> & Domotics</h4>

                        <p>The tech can be ported on any software or hardware and can be used to lock/unlock any device
                            or facility.</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-04.svg)">
                        </div>
                        <h4>IoT ASIC and Chip Cards</h4>

                        <p>An ideal bridge to cover the legacy chip cards while moving virtual payments.
                            It can provide AI at the Edge, whether it is to provide ID or any other generic learning
                            capability.
                        </p>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-07.svg)">
                        </div>
                        <h4>Anti-bot</h4>

                        <p>Preventative spamming by a unique human liveness detection, that cannot be spoofed by AI bots.</p>
                    </div>

                </div>

            </div>

            <div class="row align-items">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-wrapper-novel-solutions">
                        <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-01.svg)">
                        </div>
                        <h4>Healthcare Applications</h4>

                        <p>The Internet cannot ensure the fidelity of medical data routing; biometric tagging is necessary.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="map-section-soln">

    <div class="container">
        <div class="row">
            <h3>Get in Touch With Us</h3>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="map-content-wrapper">
                    <h4>Headquarters</h4>
                    <h5>2570 W EI Camino Real</br>
                        Ste 310 Mountain View, CA 94040</h5>


                    <div class="img-noval" style="background-image: url(./assets/images/icons/phone.png)"></div>
                    <p><a
                            href="mailto:info@aermob.com">info@aermob.com</a></p>
                    </br>
                    <div class="img-noval" style="background-image: url(./assets/images/icons/tel.png)"></div>
                    <p><a
                            href="tel:(650) 864-0788">(650) 864-0788</a></p>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.5185172873416!2d-122.11342288432392!3d37.40121737982921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb09967f8259f%3A0x4d923a1ec5578138!2s2570+W+El+Camino+Real+%23310%2C+Mountain+View%2C+CA+94040%2C+USA!5e0!3m2!1sen!2slk!4v1538023400320" width="575" height="393" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>


</section>
</main>
