---
layout: default
---
<main id="content" role="main" class="home-page">
  <section class="home-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2>AI at the Edge. An Invulnerable Privacy Solution.</h2>

          <h3>Aerendir Mobile Inc. is the pioneer developer of a novel physiologic, biometric </br>
            authentication
            technology. </h3>

          <div class="button-wrapper">
            <a class="banner-learn-more scroll" data-id="section-1" id="section_1">
              LEARN MORE
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="logo-section-home">
    <div class="container">
      <div class="row">
        <div class="logo-section-home-wrapper">
          <div class="logo-slider-outer-wrapper">
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-1.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-2.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-3.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-4.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-5.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-6.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-2.png)">
              </div>
            </div>
            <div class="logo-slider-wrapper">
              <div class="logo-img-home" style="background-image: url(./assets/images/home/logo-1.png)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="solution-unique-technology solution-unique-tech-home">
    <h3>Our Unique Technology</h3>

    <div class="center-wrapper">
      <div class="property-outer-wrapper">
        <div class="one-content-wrapper">
          <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
          </div>
          <div class="icon-unique-tech-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
          </div>
          <div class="content-wrapper-unique-tech">
            <h4>AI</h4>

            <p>Aerendir developed an Artificial</br> Intelligence (AI) technology that gives learning</br>
              capabilities to the Edge of the Edge. </br>It can provide High-End generic AI</br> to Low-End
              chips.</p>
          </div>
        </div>

        <div class="one-content-wrapper">
          <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
          </div>
          <div class="icon-unique-tech-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
          </div>
          <div class="content-wrapper-unique-tech">
            <h4>Anti bot</h4>

            <p>Our technology can feel </br>if a human touches</br> a device with 80-90% accuracy.</p>
          </div>
        </div>

        <div class="one-content-wrapper">
          <div class="content-wrapper-unique-tech">
            <h4>Cloudless</h4>

            <p>No data will be stored, exchanged</br> or even computed on the Internet</br> protecting users
              against hacking</br> and data breaches.</p>
          </div>
          <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
          </div>
          <div class="icon-unique-tech-left-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
          </div>
        </div>

        <div class="one-content-wrapper">
          <div class="content-wrapper-unique-tech">
            <h4>Biometrics</h4>

            <p>The NeuroPrint extracts a unique </br>proprioceptive signal from</br> micro-vibrational patterns
              from user’s</br> hands to identify and authenticate.

            </p>
          </div>
          <div class="icon-unique-tech" style="background-image: url(./assets/images/icons/icon-unique.png)">
          </div>
          <div class="icon-unique-tech-left-hover" style="background-image: url(./assets/images/icons/hover-tech.png)">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="identification-home">
    <div class="container">
      <div class="row">
        <div class="identification-home-wrapper">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="graph-wrapper-home">
              <div class="identification-home-image-wrapper" style="background-image: url(./assets/images/home/neurometric-home.png)">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="graph-content-wrapper-home">
              <div class="identification-right-content-wrapper">
                <h4>NeuroPrint™ Technology</h4>

                <p>onec blandit, leo ut ornare tempus, augue leo pretium erat, et eleifend urna orci
                  eget turpis. Maecenas tincidunt semper fermentum. Vestibulum eget interdum nisi.
                  In vel purus vel neque egestas feugiat ut ut lacus. Morbi tellus nibh, dictum pharetra
                  luctus non.
                </p>
                <a href="" class="banner-learn-more">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="identification-home-wrapper">-->
        <!--<div class="col-md-4 col-sm-4 col-xs-12 pull-right">-->
        <!--<div class="graph-wrapper-home">-->
        <!--<div class="identification-home-image-wrapper"-->
        <!--style="background-image: url(./assets/images/home/biometric-1.png)">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-8 col-sm-8 col-xs-12">-->
        <!--<div class="graph-content-wrapper-home">-->
        <!--<div class="identification-right-content-wrapper">-->
        <!--<h4>NeuroPrint™ Technology</h4>-->

        <!--<p>onec blandit, leo ut ornare tempus, augue leo pretium erat, et eleifend urna orci-->
        <!--eget turpis. Maecenas tincidunt semper fermentum. Vestibulum eget interdum nisi.-->
        <!--In vel purus vel neque egestas feugiat ut ut lacus. Morbi tellus nibh, dictum pharetra-->
        <!--luctus non.-->
        <!--</p>-->
        <!--<a href="" class="banner-learn-more">Learn More</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="binary-library-wrapper">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="img-identity-wrapper">
              <div class="img-identity" style="background-image: url(./assets/images/home/identi-1.png)">
              </div>
              <h4>Binary Library</h4>
            </div>
            <p>Etiam fringilla consequat metus malesuada maximus. Nulla sem purus, ultricies rhoncus.</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="img-identity-wrapper">
              <div class="img-identity" style="background-image: url(./assets/images/home/identi-1.png)">
              </div>
              <h4>Binary Library</h4>
            </div>
            <p>Etiam fringilla consequat metus malesuada maximus. Nulla sem purus, ultricies rhoncus.</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="img-identity-wrapper">
              <div class="img-identity" style="background-image: url(./assets/images/home/identi-2.png)">
              </div>
              <h4>Binary Library</h4>
            </div>
            <p>Etiam fringilla consequat metus malesuada maximus. Nulla sem purus, ultricies rhoncus.</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="img-identity-wrapper">
              <div class="img-identity" style="background-image: url(./assets/images/home/identi-3.png)">
              </div>
              <h4>Binary Library</h4>
            </div>
            <p>Etiam fringilla consequat metus malesuada maximus. Nulla sem purus, ultricies rhoncus.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="noval-solutions noval-solution-home">
    <div class="background-wrapper-soln background-wrapper-soln-home">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="top-content-wrapper">
              <h3>Our Novel Solution Protects Against Data Breaches, Financial</br> Loss, and Reputational
                Damage</h3>

              <p>
                <strong>We are Privacy By Design</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-06.svg)">
              </div>
              <h4>Smartphone &</br>
                Portable Devices</h4>

              <p>Can be used as SINGLE factor authentication or paired with an existing authentication
                method. </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-03.svg)">
              </div>
              <h4>Banking & </br>Payment Companies</h4>

              <p>Finance is one of the most vulnerable markets, our solution accommodates all types of
                digital
                banking/financing operations.</p>
            </div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-05.svg)">
              </div>
              <h4>E-Comm &</br> M-Comm</h4>

              <p>Our products are used for logins, authentication and the clearing of any e-commerce or
                m-commerce transaction.</p>
            </div>

          </div>
        </div>
        <div class="row align-items">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-02.svg)">
              </div>
              <h4>IoT, Access Control</br> & Domotics</h4>

              <p>The tech can be ported on any software or hardware and can be used to lock/unlock any
                device
                or facility.</p>
            </div>

          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-04.svg)">
              </div>
              <h4>IoT ASIC and Chip Cards</h4>

              <p>An ideal bridge to cover the legacy chip cards while moving virtual payments.
                It can provide AI at the Edge, whether it is to provide ID or any other generic learning
                capability.
              </p>
            </div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-07.svg)">
              </div>
              <h4>Anti-bot</h4>

              <p>Preventative spamming by a unique human liveness detection, that cannot be spoofed by AI
                bots.</p>
            </div>

          </div>

        </div>

        <div class="row align-items">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box-wrapper-novel-solutions">
              <div class="img-noval" style="background-image: url(./assets/images/aerendir-icons-01.svg)">
              </div>
              <h4>Healthcare Applications</h4>

              <p>The Internet cannot ensure the fidelity of medical data routing; biometric tagging is
                necessary.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="biometric-home">
    <div class="container">
      <div class="row">
        <h3>What’s New in Biometrics</h3>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box-wrapper-new-bio-metric" style="background-image: url(./assets/images/home/biometric-1.png)">
            <div class="content-wrapper-biometric">
              <h6>23 June 2018</h6>

              <h3>Donec sit amet orci at augue..</h3>
              <h4>Praesent ac lacus pellentesque, ornare orci sed, fermentum justo. Phasellus eu
                sollicitudin.</h4>
              <h5>Learn More</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box-wrapper-new-bio-metric" style="background-image: url(./assets/images/home/biometric-2.png)">
            <div class="content-wrapper-biometric">
              <h6>23 June 2018</h6>

              <h3>Donec sit amet orci at augue..</h3>
              <h4>Praesent ac lacus pellentesque, ornare orci sed, fermentum justo. Phasellus eu
                sollicitudin.</h4>
              <h5>Learn More</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box-wrapper-new-bio-metric" style="background-image: url(./assets/images/home/biometric-3.png)">
            <div class="content-wrapper-biometric">
              <h6>23 June 2018</h6>

              <h3>Donec sit amet orci at augue..</h3>
              <h4>Praesent ac lacus pellentesque, ornare orci sed, fermentum justo. Phasellus eu
                sollicitudin.</h4>
              <h5>Learn More</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>



