{% include header.html%}
<section class="top-tab-navigation-wrapper">
    <div class="container">
        <div class="row">
            <div class="tab-wrapper-industry">
                <ul>
                    <li><a href="" class="industry-button">Smartphone & Portable Devices</a></li>
                    <li><a href="" class="industry-button">Banking & Payment Companies</a></li>
                    <li><a href="" class="industry-button">E-comm & M-comm</a></li>
                    <li><a href="" class="industry-button">IoT, Access Control & Domotics</a></li>
                    <li><a href="" class="industry-button">IoT ASIC and Chip Cards</a></li>
                    <li><a href="" class="industry-button">Antibots</a></li>
                    <li><a href="" class="industry-button">Medical Applications</a></li>
                </ul>

            </div>
        </div>

    </div>

</section>
<main id="content" role="main" class="solution-industry-page">
    <section class="totally-unique-section industry-unique-section">

        <div class="container">
            <div class="row">
                <div class="unique-box-wrapper left">
                    <div class="img-wrapper col-md-6 col-xs-12 pull-right">
                        <div class="img-unique" style="background-image: url(./assets/images/unique-1.png)">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 content-wrapper padding-null">
                        <div class="ai-on-chip-wrapper">
                            <div class="img-ai-chip" style="background-image: url(./assets/images/1.png)">
                            </div>
                            <h3>AI On Chip</h3>
                        </div>

                        <p>Nunc at est non erat faucibus malesuada vitae vel dui. Aenean eget placerat neque. In purus
                            dolor, accumsana.
                        </p>
                        <a href="" class="banner-learn-more">Learn More</a>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="testimonial-industry" style="background-image: url(./assets/images/soln-industry-testimonial.png)">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="testimonial-content-wrapper">
                        <h4>“Since our comapny has used the technology that Aerendir has</br> offered, we have been very
                            confident in the security system that we</br> now utilize.”</h4>
                        <h6>Richard V. Kimbrell</h6>

                        <p>Globex Corporation</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="key-features">
        <div class="container">
            <h3>Key Features</h3>

            <div class="row">
                <div class="key-features-wrapper">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-key-wrapper">
                            <div class="img-key" style="background-image: url(./assets/images/icons/key-point.png)">
                            </div>
                            <h4>Key Feature One</h4>

                            <p>Suspendisse potenti. Nunc eu libero tortor. Vestibulum vestibulum eros metus, id finibus
                                arcu
                                sollicitudin quis. Aenean eget sem id enim volutpat auctor. Pellentesque habitant morbi
                                tristique senectus.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-key-wrapper">
                            <div class="img-key" style="background-image: url(./assets/images/icons/key-point.png)">
                            </div>
                            <h4>Key Feature One</h4>

                            <p>Suspendisse potenti. Nunc eu libero tortor. Vestibulum vestibulum eros metus, id finibus
                                arcu
                                sollicitudin quis. Aenean eget sem id enim volutpat auctor. Pellentesque habitant morbi
                                tristique senectus.</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="key-features-wrapper">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-key-wrapper">
                            <div class="img-key" style="background-image: url(./assets/images/icons/key-point.png)">
                            </div>
                            <h4>Key Feature One</h4>

                            <p>Suspendisse potenti. Nunc eu libero tortor. Vestibulum vestibulum eros metus, id finibus
                                arcu
                                sollicitudin quis. Aenean eget sem id enim volutpat auctor. Pellentesque habitant morbi
                                tristique senectus.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-key-wrapper">
                            <div class="img-key" style="background-image: url(./assets/images/icons/key-point.png)">
                            </div>
                            <h4>Key Feature One</h4>

                            <p>Suspendisse potenti. Nunc eu libero tortor. Vestibulum vestibulum eros metus, id finibus
                                arcu
                                sollicitudin quis. Aenean eget sem id enim volutpat auctor. Pellentesque habitant morbi
                                tristique senectus.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-services-soln-industry">
        <div class="solution-industry-section-wrapper">
            <div class="container">
                <div class="row">
                    <h3>Learn More About Our Services</h3>


                    <div class="service-industry-slider-outer-wrapper">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="industry-services-slider-wrapper">
                                <div class="industry-service-img"
                                     style="background-image: url(./assets/images/home/identi-2.png)">
                                </div>
                                <h4>M-Comm/E-Comm</h4>

                                <p>Morbi pulvinar bibendum elit id faucibus. Mauris ut congue quam. Pellentesque ac.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="industry-services-slider-wrapper">
                                <div class="industry-service-img"
                                     style="background-image: url(./assets/images/home/identi-2.png)">
                                </div>
                                <h4>Banking/ Fin Tech</h4>

                                <p>Morbi pulvinar bibendum elit id faucibus. Mauris ut congue quam. Pellentesque ac.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="industry-services-slider-wrapper">
                                <div class="industry-service-img"
                                     style="background-image: url(./assets/images/home/identi-2.png)">
                                </div>
                                <h4>IoT</h4>

                                <p>Morbi pulvinar bibendum elit id faucibus. Mauris ut congue quam. Pellentesque ac.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="industry-services-slider-wrapper">
                                <div class="industry-service-img"
                                     style="background-image: url(./assets/images/home/identi-2.png)">
                                </div>
                                <h4>IoT</h4>

                                <p>Morbi pulvinar bibendum elit id faucibus. Mauris ut congue quam. Pellentesque ac.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include footer.html%}